:root {
    --darkgrey: #2F303A;
    --blue: #2196F3;
    --black: #212121;
    --lightgray: #757575;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

/*  page styling */
.first__page {
    font-family: var(--primary-font);
}

/* Header section style */
.header {
    display: inline-flex;
}

.navigation a {
    font-family: var(--secondary-font);
    font-size: 26px;
    letter-spacing: 3%;
    text-shadow: 2px 2px 2px lightgray;
}

.header__logo__web {
    color: var(--blue);
    line-height: normal;
}

.list li{
    font-family: var(--primary-font);
    font-size: 14px;
    list-style: none;
    display: inline-flex;
    letter-spacing: 2%;
    line-height: normal;
    padding-top: 15px;
    text-shadow: 2px 2px 2px lightgrey;
    font-weight: 450;
    margin-right: 40px;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover{
    color: var(--blue);
}

.list__tel{
    color: var(--lightgray);
}

.list__address {
    padding-left: 400px;
    margin-right: 20px;;
}

/* Portiunea principala a paginii */
.title {
    font-size: 44px;
    text-align: center;
    background-color: var(--darkgrey);
    line-height: 1.5;
    letter-spacing: 6%;
    color: white;
    text-shadow: 2px 2px 2px var(--black);
    padding-top: 200px;
    padding-bottom: 200px;
}

.button {
    font-family: var(--primary-font);
    font-size: 16px;
    background-color: var(--blue);
    color: white;
    line-height: 2;
    border-radius: 10px;
    border-color: var(--darkgrey);
    padding-bottom: 20px;
    letter-spacing: 6%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
  }

.button:hover {
    background-color: white;
    color: var(--black);
  }


  /* Hero-section */
.hero__section {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 80px;
    margin-right: 80px;
}

 .hero__section__title {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 3%;
 } 

 .hero__section__text {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--lightgray); 
}


/* What we do section */
.what__we__do__title {
    font-family: var(--primary-font);
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--lightgray)
}

/* Our team section */
.what__we__do__images {
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 70px;
}

.our__team {
    background-color: #F5F4FA;
    padding-top: 10px;
    padding-bottom: 120px;
}

.our__team__title {
    font-family: var(--primary-font);
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--lightgray);
    margin-top: 80px;
}


    /* Container cu carduri despre membrii echipei */
    
    .container__1 {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    margin-left: 100px;
    }
    
    .container__2 {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }
    
    .container__3 {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }
    
    .container__4 {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    margin-right: 180px;
    }
    
    .container__title {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    }
    
    .container__subtitle {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #757575;
    }
    

    /* Footer section */
.footer {
    background-color: #2F303A;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
}

#footer__logo {
    font-family: 'raleway';
    font-size: 26px;
    letter-spacing: 3%;
    color: white;
}
    
.footer__logo__web {
    color: #2196F3;
    line-height: normal;
}

[href*="map"] {
    color: white;
    line-height: normal;
    letter-spacing: 3%;
    font-style: normal;
}

[href*="mailto"] {
    color: grey;
    letter-spacing: 3%;
    font-style: normal;
}

[href*="tel"] {
    color: grey;
    letter-spacing: 3%;
    font-style: normal;
}

.footer__address a {
    display: inline-block;
    padding-bottom: 10px;
}


/* Second page styling */
.second__list {
    color: var(--blue);
}

/* Portiunea principala a paginii */
.selection {
    font-family: var(--primary-font);
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: var(--black);
    margin-top: 60px;
}


.selection>button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.selection>button:hover {
    background-color: var(--blue);
    color: white;
    border: none;
    box-shadow: 1px 1px 1px lightgray;
    cursor: pointer;
  }

  /*Container cu carduri despre proiectele realizate*/
.cards {
    margin-bottom: 70px;
    margin-left: 120px;
    margin-right: 80px;
}
.container__1__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__2__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__3__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__4__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__5__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__6__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__7__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__8__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.container__9__portofoliu {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px lightgray;  
    }

.card__title {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 2;

}

.cards__subtitle {
    font-family: var(--primary-font);
    line-height: 2;
    font-size: 16px;
    color: var(--lightgray);
}